body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h1, h2, h3, h4, h5, h6, p{
    margin-block-start: 0;
    margin-block-end: 0;
}

#bloc_page{
    width: 900px;
    margin: auto;
    border: 1px solid #3f3f3f;
    word-wrap: break-word;
}

header, main{
    display: flex;
    flex-direction: row-reverse;
}

/* Colonne de droite */
.right_col{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 5%;
}

#name{
    margin-top: 40px;
}

#name > h1{
    text-transform: uppercase;
}

#name > p{
    font-size: larger;
}

#blue{
    color: #19acdf;
}

#underline{
    text-decoration: underline #19acdf;
}

/* Colonne de gauche */
.left_col{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #3f3f3f;
    color: #ffffff;
}
#picture{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pictureOfMe{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #19acdf;
    justify-content: center;
}

.informations{
    margin-right: 5%;
}

.informations, #informations{
    margin-top: 2%;
}

.informationsHead{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.informationsLogo, .logo{
    color: #19acdf;
    font-size: x-large;
    width: 10%;
}

.title{
    text-transform: uppercase;
    width: 90%;
}

.line{
    width: 80%;
    border: 1px solid #19acdf;
}

.degree, .experiences{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.date, .content{
    width: 50%;
}

#informations > h2, #hobby > h2, #about > h2{
    text-align: center;
    text-transform: uppercase;
    background-color: #19acdf;
}

#about{
    height: 70%;
}

#about p{
    padding: 10% 10% 0 10%;
}

#website > a{
    text-decoration: none;
    color: #ffffff;
}

#adress, #phone, #email, #website{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 10%;
    margin: 10% 0 10% 0;
}

#adress p, #phone p, #email p, #website a{
    padding-left: 20px;
}

.recommandation{
    display: flex;
    flex-direction: row;
}

#logoHobby{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

@media all and (max-width: 768px){
   #bloc_page{ width: auto; }
   main,header{ flex-direction: column;}
   .left_col, .right_col{width: auto; margin-top: 2%;}
   #name {text-align: center;}
   #informations, .informations, #adress, #phone, #email, #website {margin: 0;}
   #about p {padding: 0 10% 0 10%;}
}